@import "tailwindcss";
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

@theme {
  --color-id-postur: #F80000;
  --color-id-postur-dark: #c00000;
  --color-bermuda: #78dcca;
}

@theme {
  --font-id-postur: 'Poppins', sans-serif;
}