---
import BaseLayout from "../layouts/BaseLayout.astro";
import Textwithimages from '../components/Textwithimages.astro';
import Chiffres from '../components/chiffres.astro'
import Hero from '../components/hero.astro'
import Qui from '../components/qui.astro'
import Formules from '../components/formules.astro'
import Avis from '../components/avis.astro'
import Maps from '../components/maps.astro'
import Faq from '../components/faq.astro'
---

<BaseLayout>
  <div class="font-id-postur">
    <Hero />
    <Chiffres />
    <Qui />
    <Textwithimages />
    <Formules />
    <Avis />
    <Maps />
    <Faq />
  </div>
</BaseLayout>