---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <section class="w-[80%] mx-auto justify-center flex flex-col my-24 text-center">
    <h1 class="text-3xl font-bold mb-4">Études posturales à Rennes</h1>
    <p class="text-gray-700">
      Nous proposons plusieurs types de d’offres, vous pouvez opter pour une études posturales complètes au prix de 250€ mais aussi uniquement d’un réglages de vos cales pour 50€.
    </p>
  </section>

  <section class="w-[80%] mx-auto justify-center flex flex-col my-24">
    <div class="grid md:grid-cols-2 items-center gap-12 w-full">
        <div>
            <img class="w-full" src="../images/photo.jpeg" alt="offre une">
        </div>
        <div>
            <div class="flex flex-row items-center justify-between mb-12">
                <h2 class="font-black text-lg">Études posturales complètes</h2>
                <p class="bg-id-postur-dark inline-block text-white px-12 py-3">250€</p>
            </div>
            <p>L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. </p>
            <a href="https://google.com" class="block w-full bg-id-postur-dark text-center py-2 text-white mt-6 hover:bg-opacity-90 transition">
                Prendre rendez-vous
            </a>
        </div>
    </div>
  </section>

  <section class="w-[80%] mx-auto justify-center flex flex-col my-24">
    <div class="grid md:grid-cols-2 items-center gap-12 w-full">
        <div>
            <div class="flex flex-row items-center justify-between mb-12">
                <h2 class="font-black text-lg">Réglages des cales</h2>
                <p class="bg-id-postur-dark inline-block text-white px-12 py-3">50€</p>
            </div>
            <p>L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. L’étude posturale complète proposé par ID Postur est l’étude global de votre position sur votre vélo puis de sa mise en place technique. </p>
            <a href="https://google.com" class="block w-full bg-id-postur-dark text-center py-2 text-white mt-6 hover:bg-opacity-90 transition">
                Prendre rendez-vous
            </a>
        </div>

        <div>
            <img class="w-full" src="../images/photo.jpeg" alt="offre une">
        </div>
    </div>
  </section>

  <section class="w-[80%] mx-auto justify-center flex flex-col my-24">
    <h2 class="text-center text-2xl font-black my-12">Bon à savoir le jour du rendez-vous</h2>
        <div class="grid grid-cols-4">
            <div class="text-center">
                <img class="w-24 mx-auto mb-6" src="../images/cycling.svg" alt="icon 1">
                <p>Votre tenu de vélo</p>
            </div>
            <div class="text-center">
                <img class="w-24 mx-auto mb-6" src="../images/cycling.svg" alt="icon 1">
                <p>Votre tenu de vélo</p>
            </div>
            <div class="text-center">
                <img class="w-24 mx-auto mb-6" src="../images/cycling.svg" alt="icon 1">
                <p>Votre tenu de vélo</p>
            </div>
            <div class="text-center">
                <img class="w-24 mx-auto mb-6" src="../images/cycling.svg" alt="icon 1">
                <p>Votre tenu de vélo</p>
            </div>
        </div>    
  </section>
</BaseLayout>
