---

import '../styles/global.css'

---

  <!-- Avis -->
  <section class="py-24 px-6 bg-white">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4">
        Ce qu’ils disent de nous
      </h2>
      <div class="h-[3px] w-24 bg-id-postur-dark mx-auto mb-6 rounded-full"></div>
      <p class="text-gray-600 max-w-2xl mx-auto mb-12">
        Découvrez les retours de nos clients qui ont transformé leur posture et
        retrouvé un vrai confort au quotidien.
      </p>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Avis 1 -->
        <div
          class="bg-gray-50 p-8 shadow hover:shadow-lg transition text-left flex flex-col justify-between"
        >
          <p class="text-gray-700 italic mb-6">
            “J'ai repris le vélo cette saison et je ne me sentais 
            pas bien sur mon ancien vélo (douleurs au genou et dos). 
            J'ai donc décidé de faire une étude posturale avant de m'acheter un nouveau vélo.”
          </p>
          <div class="flex items-center gap-4 mt-auto">
            <div class="flex flex-row justify-between w-full">
              <div>
                  <p class="font-semibold text-gray-900">Francois D.</p>
              </div>
              <div>
                 <img
                 class="w-9 h-auto"
                 alt="logo google"
                 src="../images/google-icon.jpeg"
                 >
              </div>
            </div>
          </div>
        </div>

        <!-- Avis 2 -->
        <div
          class="bg-gray-50 p-8 shadow-lg border-t-4 border-id-postur text-left flex flex-col justify-between"
        >
          <p class="text-gray-700 italic mb-6">
            “Très bon accueil, à l’écoute, disponible et un réglage précis 
            des chaussures et des vélos au top. Prêt à affronter l’asphalte 
            et là boue des cyclo cross. Merci ID Postur”
          </p>
          <div class="flex items-center gap-4 mt-auto">
            <div class="flex flex-row justify-between w-full">
              <div>
                  <p class="font-semibold text-gray-900">Nicolas G.</p>
              </div>
              <div>
                 <img
                 class="w-9 h-auto"
                 alt="logo google"
                 src="../images/google-icon.jpeg"
                 >
              </div>
            </div>
          </div>
        </div>

        <!-- Avis 3 -->
        <div
          class="bg-gray-50 p-8 shadow hover:shadow-lg transition text-left flex flex-col justify-between"
        >
          <p class="text-gray-700 italic mb-6">
            “Fin août, j’ai fait une étude posturale chez ID Postur, 
            car je ressentais des douleurs à vélo et je ne savais pas 
            si elles venaient de ma position ou de ma selle.”
          </p>
          <div class="flex items-center gap-4 mt-auto">
            <div class="flex flex-row justify-between w-full">
              <div>
                  <p class="font-semibold text-gray-900">Morgane A.</p>
              </div>
              <div>
                 <img
                 class="w-9 h-auto"
                 alt="logo google"
                 src="../images/google-icon.jpeg"
                 >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>