<header class="bg-white shadow-sm sticky top-0 z-50">
  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <img src="/images/LOGO-ID-POSTUR.webp" alt="Photo de client" class="w-32 h-auto object-cover" />

    <nav class="hidden md:flex gap-6 text-gray-700 font-medium">
      <a href="/" class="hover:text-red-900 transition">Accueil</a>
      <a href="#tarifs" class="hover:text-red-900 transition">Nos tarifs</a>
      <a href="/services" class="hover:text-red-900 transition">Services</a>
      <a href="/contact" class="hover:text-red-900 transition">Contact</a>
    </nav>

    <!-- Menu burger mobile -->
    <button class="md:hidden text-gray-700">
       <a
      href="https://calendly.com/ton_compte_calendly"
      target="_blank"
      class="inline-block bg-red-900 text-white font-semibold py-3 px-4 transition"
    >
      Prendre rendez-vous
    </a>
    </button>
  </div>
</header>